{% extends 'AppAlvar/padre.html' %}

{% block js %}
<script>
    function eliminarProyecto(id) {
        Swal.fire({
            title: "¿Estás seguro?",
            text: "Esta acción no se puede deshacer",
            icon: "question",
            showCancelButton: true,
            cancelButtonText: "No, Cancelar",
            confirmButtonText: "Si, Eliminar",
            reverseButtons: true,
            confirmButtonColor: "#dc3545",
        }).then(function(result) {
            if (result.isConfirmed) {
                // Redireccionar a la URL de eliminación del cliente
                window.location.href = "../eliminar_proyecto/" + id +"/";
            }
        });
    }
</script>
{% endblock %}
{% block css %}
{% endblock %}

{% block contenido %}
<br>
<div class="d-flex justify-content-end">
    {% if user.is_staff or user.is_superuser %}
    <a href="{% url 'agregar_proyecto' %}" id="guardar" class=" btn btn-primary">Crear Proyecto</a>
    {% endif %}
</div>
<br>
<div class="galeria">

{% for p in entity %}
<div class="producto">
    <div class="contenedor">
        {% if p.imagen %}
        <img src="{{ p.imagen.url }}" alt="yoga">
        {% endif %}
    </div>

    <div class="detalles">
        <h5>{{p.nombre | capfirst}}</h5>
        <h2>{{p.tipo | title}}</h2>
        {% if p.comercial %}
        <h3>Comercial</h3>
        {% else %}
        <h3>Residencial</h3>
        {% endif %}
        <h6>{{ p.descripcion | capfirst }}</h6>
    </div>
    <div class="d-flex justify-content-end">
    {% if user.is_superuser %}
    <a href="#" onclick="eliminarProyecto('{{ p.id }}')"class="btn btn-danger btn-sm">Borrar</a>
    {% endif %}
    &nbsp;
    {% if user.is_superuser or user.is_staff %}
    <a href="{% url 'editar_proyecto' p.id %}" id="guardar" class=" btn btn-primary btn-sm">Editar</a>
    {% endif %}
    </div>
    
</div>
{% endfor %}
</div>
<hr>
<div>
    {% include 'AppAlvar/paginator.html' %}
</div>
{{ mensaje }}


{% endblock %}